terraform/secrets.auto.tfvars
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
**/.DS_Store
architecture.dio
terraform/user_credentials.json
terraform/errored.tfstate
terraform/certificates